.alert {
    border: none;
    padding: 0px;
}

.alert-danger, .alert-success {
    background: transparent;
    border: none;
}

.form-control:focus {
    border: 1px solid rgba(51, 51, 51, 0.60);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-signin {
    max-width: 330px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#login {
    float: right;
}

.form-signin a, .form-signin a:hover {
    color: #333;
    text-decoration: none;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox > input {
    margin-left: 0px
}

.form-signin .form-control {
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 0;
    height: 34px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px !important;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.action-link {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 0px;
}

.action-link a:nth-child(2n+0) {
    float: right;
}

.action-link a:nth-child(2n+1) {
    float: left;
    clear: both;
}
.required label:first-child:after {
    content: ' *';
    color: #FA2A00
}
.error {
    color: #a94442
}

.error-message>ul {
    margin-left: -25px
}